#chessboard {
    display: grid;
    grid-template-columns: repeat(8,80px);
    grid-template-rows: repeat(8,80px);
    width: 640px;
    height: 640px;
    background-color: grey;
}

#chessboard .tile {
    width: 80px;
    height: 80px;
}

#chessboard .dark-tile {
    background-color: darkslategrey;
}

#chessboard .light-tile {
    background-color: lightgrey;
}