.tile {
    display: grid;
    place-content: center;
    width: 80px;
    height: 80px;
}

.tile .chess-piece {
    width: 76px;
    height: 76px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76px;
}

.tile .chess-piece:hover {
    cursor: grab;
}

.tile .chess-piece:active {
    cursor: grabbing;
}

.dark-tile {
    background-color: darkslategrey;
}

.light-tile {
    background-color: lightgrey;
}

.tile img {
    width: 76px;
}